body {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: monospace;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {

  

}

.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgb(24, 25, 27);
  text-align: center;
}